<div class="container" style="box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);margin: 40px;padding: 40px;">
  <div>
    <h4 style="display: inline;">Edit Enrollee</h4>
  </div>
  <div>
    <form [formGroup]="enrolleeForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="active">Active</label>
        <select formControlName="active" (change)="changeStatus($event)" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.active.errors }">
          <option *ngFor="let opt of options" [value]="opt.value">{{ opt.text }}</option>
        </select>
        <div *ngIf="submitted && f.active.errors" class="invalid-feedback">
          <div *ngIf="f.active.errors.required">Status is required</div>
        </div>
      </div>
    </form>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="updateEnrollee()">Update</button>
  </div>
</div>